.root{
	-fx-background-color: #c2c2d6;
	-fx-focus-color: transparent;
}
.menu{
	-fx-background-color: #666699;
	-fx-font-size: 9pt;
}
.menubutton{
	-fx-background-color: #8585AD;
	-fx-background-radius: 6;
	-fx-text-fill: #29293d;
}
.outline{
	-fx-background-color: #D1D1E0;
	-fx-background-radius: 6;
	-fx-border-width: 6;
	-fx-border-radius: 6;
	-fx-text-fill: #29293d;
}
.rightside{
	-fx-background-color: linear-gradient(#8585AD, #9494b8);
	-fx-background-radius: 0 0 0 30;
}
.leftside{
	-fx-background-color: linear-gradient(#8585AD, #9494b8);
	-fx-background-radius: 0 0 30 0;
}
.box{
	-fx-border-width: 3;
	-fx-border-color: #666699;
	-fx-border-radius: 4;
}	
.label{
	-fx-font-size: 14pt;
	-fx-text-fill: #29293D;
}
.largelabel{
	-fx-font-size: 32pt;
	-fx-text-fill: #29293D;
}
#small{
	-fx-font-size: 10pt;
	-fx-text-fill: #29293D;
}
#medtext{
	-fx-font-size: 14pt;
}
#richblue{
    -fx-background-color: linear-gradient(#7EBCEA, #2F4B8F);
    -fx-background-radius: 3,2,2,2;
	-fx-font-size: 12px;
}
#blue-back{
	-fx-background-color: b3b3cc;
}
#acc{
	-fx-background-color: #D1D1E0;
	-fx-background-radius: 6;
	-fx-border-width: 6;
	-fx-border-radius: 6;
	-fx-text-fill: #29293d;
	-fx-padding-left: 20;
	-fx-padding-right: 20;
	-fx-padding-top: 5;
	-fx-padding-bottom: 5;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected, .list-cell:filled:hover{
    -fx-background-color: #d1d1e0;
	-fx-text-fill: black;
	-fx-border-radius: 4;
}
.list-cell:even{
    -fx-background-color: #a3a3c2;
	-fx-font-size: 8pt;
}
.list-cell:odd{
	-fx-background-color: #b3b3cc;
	-fx-font-size: 8pt;
}