.root{
	-fx-background-color: #c2c2d6;
	-fx-focus-color: transparent;
	-fx-font-size: 10pt;
}
.check-box .box{
	-fx-background-color: #D1D1E0;
	-fx-border-color: #9494b8;
	-fx-border-width: 1;
	-fx-border-radius: 4;
}
#title{
	-fx-font-size: 24pt;
	-fx-underline: true;
}
#subtitle{
	-fx-font-size: 14pt;
	-fx-underline: true;
}